# 模型文件/目录
model/

# 下载日志
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# 虚拟环境
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# 系统文件
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# VPN 配置
*.vpn/*

# HuggingFace 缓存
.cache/
vpn/japan_nodes_info.txt
vpn/japan_proxies.yaml
vpn/mihomo-bin
vpn/start_clash.py
vpn/supervisord.conf
vpn/us_proxies.yaml
